.elements__trash-button {
    background-image: url(../../../images/element-trash.svg);
    position: absolute;
    width: 18px;
    height: 19px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    right: 15px;
    top: 18px;
}

.elements__trash-button:hover {
    opacity: 0.5;
}